<header>
    <h1>{{pageTitle}}</h1>
    <p>{{screamIt message}}</p>

     <ul>
        <li><a href ="/">Home</a></li>
        <li><a href ="/about">About</a></li>
        <li><a href ="/contact">Contact</a></li>
        <li><a href ="/help.html">Help</a></li>
    </ul>

</header>