<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/style.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    {{> header}}
    <form>
        <label for="firstname">First Name:</label><br/>
        <input id ="firstname" type="text" placeholder="First name" /><br/>
        <label for="lastname">Last Name:</label>
        <input id ="lastname" type="text" placeholder="Last name" /><br/>
        <label for="email">Email:</label>
        <input id ="email" type="email" placeholder="Email" /><br/>
        <label for="message">Message:</label>
        <textarea id ="firstname"  /></textarea>
    </form>
     {{> footer}}
    
</body>
</html>